/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic); 

body{font-family: 'Roboto', sans-serif;
}

 *,*:before,*:after{
    box-sizing: border-box;
 }

.wrap{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFF6F6;
}

.wrap header{
   background-image: url(https://i.postimg.cc/LsGMnQMN/header-bg-1920-X390.jpg); 
   background-repeat: no-repeat;
   background-size: 100%;
   text-align: center;
   margin-bottom: 96px;
}

.wrap header img{
    display: block;
    width: 416px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding-top: 196px;
}

.wrap header h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.info{
    display: flex;
    width: 1076px;
    justify-content: center;
    margin: 0 auto;
}

.info .intro{
     width: 636px;
}

.info .intro h3{
    color:#3C4CA3;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 24px;
}

.info .intro p{
    font-size: 22px;
    line-height: 33px;
}

.info-content{
    width: 375px;
    margin-left: 24px;
    margin-bottom: 196px;
}

.info-content p{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}

.info-content li{
    display: flex;
}

.info-content .icon{
    display: block;
    width: 33px;
    height: 33px;
    margin-right: 32px;
 }

.info-content a{
    display: block;
    color: #000;
}

.info-content li img {
    display: block;
    width: 48px;
    margin-right: 24px;
}

.info-content li a:hover {
    cursor: pointer;
}

.skill{
    background-color: #FFDFDF;
    padding: 196px 0px;
}

.skill h2{
    color: #3C4CA3;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 96px;
    text-align: center;
}

.skill-list{
    display: flex;
    justify-content: space-between;
    width: 1296px;
    border-radius: 8px;
    margin: 0 auto;
}

.skill-list .card{
    width: 416px;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    border-left: 5px solid #3C4CA3;
    box-shadow: 5px 5px 10px grey;
}

.skill-list .card2{
    width: 416px;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    border-left: 5px solid #E2424A;
    box-shadow: 5px 5px 10px grey;
}

.skill-list .card3{
    width: 416px;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    border-left: 5px solid #FFE656;
    box-shadow: 5px 5px 10px grey;
}

.card img,.card2 img,.card3 img{
    display: block;
    width: 196px;
    margin-bottom: 24px;
    margin: 0 auto;
}

.card h3,.card2 h3,.card3 h3{
    color: #3C4CA3;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.card li,.card2 li,.card3 li{
    font-size: 24px;
    line-height: 38px;
    margin-left: 78px;
    list-style-type: disc;
}

.experience{
    background-color: #3C4CA3;
    padding: 196px 312px;
}

.experience-content{
    width: 1298px;
    background-color: #FFF;
    border-radius: 8px;
    padding:96px 0px ;
}

.experience-content h2{
    color: #3C4CA3;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 79px;
}

.job{
    width: 1076px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.job::before{
    display: block;
    content:url(https://i.postimg.cc/pTjJhpQn/red-1.png);
}

.job::after{
    display: block;
    content:"";
    width: 72px;
    height: 3px;
    background-color: #3C4CA3;
    margin: 0 auto;
}

.job ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job ul::before{
    position: absolute;
    content:"";
    width: 3px;
    background-color: #3C4CA3;
    height: 100%;
    top:0;
}

.job li{
   position: relative;
   display:flex;
   width: 50%;
}

.job li:nth-child(even){
    align-self: flex-start;
    flex-direction: row-reverse;
}

.job li:nth-child(odd){
    align-self: flex-end;
}

.job li::before{
    position: absolute;
    content: url(https://i.postimg.cc/W31yMWJR/red.png);
}

.job li:nth-child(even)::before{
    right:-20px;
    top: 58px;
}

.job li:nth-child(odd)::before{
    left:-20px;
    top: 58px;
}

.article{
    text-align: left;
    width: 416px;
    padding: 32px 55px;
    margin:58px 30px;
}


.article span, .article p{
    color: #3C4CA3;
    font-size: 28px;
    line-height: 42px; 
}

.job .article{
    border: 3px solid #E2424A;
    border-radius: 8px;
    width: 416px;
}

.article h3{
    color: #3C4CA3;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px; 
}

.UI-design{
    width: 1296px;
    background-color: #FFF6F6;
    padding: 196px 0px;
    margin: 0 auto;
}

.UI-design img{
    display: block;
    width: 636px;
    margin-bottom: 16px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 8px;
}

.UI-design h3{
    color: #3C4CA3;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px; 
    margin-bottom: 96px;
}

.UI-design ul{
    display: flex;
    justify-content: space-between;
}

.UI-design a{
    display: block;
    text-decoration: none;
}

.UI-design a h3:hover{
    cursor: pointer;
    font-weight: 700;
}

.UI-design li h3{
    color:  #3C4CA3;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 57px; 
}

.Graphic-design{
    background-color: #FFDFDF;
    padding: 196px 0px;
}

.Graphic-design ul{
    display: flex;
    width: 1296px;
    justify-content: space-between;
    margin: 0 auto;
}

.Graphic-design img{
    display: block;
    width: 416px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 8px;
    margin-bottom: 16px;
}

.Graphic-design h3{
    color:  #3C4CA3;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px; 
    margin-bottom: 96px;
}

.Graphic-design a{
    display: block;
    text-decoration: none;
}

.Graphic-design a h3:hover{
    cursor: pointer;
    font-weight: 700;
}

.Graphic-design li h3{
    color:  #3C4CA3;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 57px;
}


.Illustrations-design{
    width: 1296px;
    padding: 196px 0px;
    margin: 0 auto;
}

.Illustrations-design ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Illustrations-design li{
    margin-bottom: 24px;
}

.Illustrations-design img{
    display: block;
    width: 416px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 8px;
}

.Illustrations-design h3{
    color:  #3C4CA3;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px; 
    margin-bottom: 96px;
}

.Illustrations-design .work h3{
    color:  #3C4CA3;
    font-size: 38px;
    line-height: 56px; 
}

.Illustrations-design p{
    color:  #3C4CA3;
    font-size: 38px;
    line-height: 56px; 
}


.Illustrations-design a{
    display: block;
    text-decoration: none;
    text-align: left;
    margin-top: 32px;
}

.Illustrations-design a:hover{
    cursor: pointer;
    font-weight: 700;
}

.wrap footer{
    display:flex;
    align-items: center;
    padding: 96px 0px;
    background-image: url(https://i.postimg.cc/fTDY01gs/footer-1920-X216.jpg00);
    background-repeat: no-repeat;
    background-size: cover;
}

.copy p{
    width: 416px;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 752px;
    margin-right: 320px;
}

.footer-icon ul{
    display: flex;    
}


.footer-icon img{
    display: block;
    width: 48px;
    margin-left: 24px;
}

.footer-icon a{
    display: block;
}

.footer-icon a:hover{
    cursor: pointer;
}